<div id="notice"><%= notice %></div>

<h1 class="text-center mt-3 mb-2">Items</h1>

<section class="card-group">
  <% @items.each do |item| %>
    <div class="card text-center mb-3">
      <div class="card-block">
        <%= link_to item do %>
          <h4 class="card-title"><%= render item %></h4>
        <% end %>
      </div>
      <div class="card-footer">
        <div class="btn-group">
          <%= link_to 'Edit', edit_item_path(item), class: 'btn btn-sm btn-outline-primary' %>
          <%= link_to 'Destroy', item, method: :delete, class: 'btn btn-sm btn-outline-danger', data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
  <% end %>
</section>

<div class="mt-2 mb-4 text-center">
  <div class="btn-group">
    <%= link_to 'New Item', new_item_path, class: 'btn btn-primary' %>
  </div>
</div>
